*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: aquamarine;
    position: relative;
}
.container{
    position: absolute;
display: flex;
flex-wrap: wrap;
width: 310px;
height: 300px;
}
.box{
    height: 100px;
    width: 100px;
    color: red;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; */
    height: 100vh;
}
.box0{
    border-top:none ;
    border-left: none;
}
.box1{
    border-top:none ;
}
.box2{
    border-top:none ;
    border-right:none ;
}
.box3{
    border-left:none ;

}
.box5{
    border-right:none ;
}
.box6{
    border-left:none ;
    border-bottom: none;
}
.box7{
    border-bottom:none ;
}
.box8{
    border-right:none ;
    border-bottom:none ;
}
.btn{
    background-color: black;
    color: white;
    padding:10px 20px ;
    border-radius: 7px;
    border: none;
    position: absolute;
    top: 80vh;
    
}
.btn:hover{
    background-color: rgb(39, 38, 38);
 cursor: pointer;   
}
.btn:active{
    background-color: rgb(0, 0, 0);
 cursor: pointer;   
}
.new-game{
    position: relative;
    bottom: 0px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;

}
.new-game:hover{
    background-color: rgb(39, 38, 38);
 cursor: pointer;   
}
.new-game:active{
    background-color: rgb(0, 0, 0);
 cursor: pointer;   
}
.disabled{
    pointer-events: none;
    background-color: darkgray;
}
@media only screen and (max-width:650px){
    .container{
        object-position: center;
    }
}
.hide{
    /* display: none; */
    opacity: 0;
}
.hide h3{
    color: black;
    font-size: 25px;
}
.hidden{
    width: 385px;
    position: absolute;
    top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 23px;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

